.container {
  display: flex;
  width: 400px;
  height: 200px;
  background-color: var(--primary-button);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.container .image img {
  margin-top: 25px;
  margin-left: 20px;
  width: 150px;
  height: 150px;
}

.container .text {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container h3 {
  text-align: center;
  color: white;
  margin: 0 0 10px 0;
}

.container p {
  color: white;
  margin: 0 0 10px 0;
  flex-grow: 1;
}

.qty-value {
  color: white;
}

.qty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mat-mdc-unelevated-button {
  background-color: var(--text-dark-red) !important;
  padding: 15px 20px;
  margin-top: 20px;
}

.mat-mdc-fab-base {
  background-color: var(--text-dark-red) !important;
  color: white !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
