<div class="container">
  <div class="image">
    <img [src]="'data:image/jpeg;base64,' + pizzaDetail.pizzaImageBytes" />
  </div>
  <div class="text">
    <h3>{{pizzaDetail.pizzaName}}</h3>
    <p [matTooltip]="pizzaDetail.description">{{truncatedText}}</p>
    @if (count === 0) {
      <button mat-flat-button color="primary" (click)="onAddToCart()">Hozzáadás</button>
    } @else {
      <div class="qty">
        <button mat-mini-fab color="primary" (click)="decrease()">−</button>
        <span class="qty-value">{{ count }}</span>
        <button mat-mini-fab color="primary" (click)="increase()">+</button>
      </div>
    }
  </div>
</div>
