.container {
  display: flex;
  width: 400px;
  height: 200px;
  background-color: var(--primary-button);
}

.container .image img {
  margin-top: 25px;
  margin-left: 20px;
  width: 150px;
  height: 150px;
}

.container .text {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container h3 {
  text-align: center;
  color: white;
  margin: 0 0 10px 0;
}

.container p {
  color: white;
  margin: 0 0 10px 0;
  flex-grow: 1;
}

.mat-mdc-unelevated-button {
  background-color: var(--text-dark-red) !important;
  padding: 15px 20px;
  margin-top: 20px;
}
