<div class="profile-data">
  @if (isLoading) {
    <div class="spinner-container">
        <mat-spinner> </mat-spinner>
    </div>
  }
  @else {
    <form class="login-form" [formGroup]="formGroup" (ngSubmit)="sendUpdateRequest()">
      <div>
        <mat-form-field>
          <mat-label>Keresztnév</mat-label>
          <input matInput id="firstName" type="text" formControlName="firstName">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Vezetéknév</mat-label>
          <input matInput id="lastName" type="text" formControlName="lastName">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Telefonszám</mat-label>
          <input matInput id="phoneNumber" type="text" formControlName="phoneNumber">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput id="email" type="text" formControlName="email">
        </mat-form-field>
      </div>

      <div class="modify-button">
        <div>
          <button mat-flat-button type="submit" >Módosítás</button>
        </div>
      </div>
    </form>
  }
</div>
