.hr-top {
  border-width: 0;
  background-color: var(--text-dark-red);
  width: 25%;
  height: 5px;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--primary-button) !important;
  -webkit-text-fill-color: white !important;
  border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-button) inset !important;
  -webkit-text-fill-color: white !important;
}

::ng-deep.mdc-floating-label {
  color: white !important;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
