<div class="desc">
  @if (imageFirst) {
    <div class="desc-item">
      <img ngSrc="{{imageSource}}" width="200" height="200" priority>
    </div>
    <div class="desc-item">
      <h3>{{headingText}}</h3>
      <p>{{paragraphText}}</p>
      @if (componentType === ComponentType.Takeaway) {
        <div class="button">
          <a mat-flat-button>Étlap</a>
        </div>
        <div class="button">
          <a mat-flat-button
             [disabled]="!isLoggedIn"
             [matTooltip]="'Kérlek jelentkezz be.'"
             [matTooltipDisabled]="isLoggedIn"
             [routerLink]="['/order']">Rendelés</a>
        </div>
      }
    </div>
  }@else {
    <div class="desc-item">
      <h3>{{headingText}}</h3>
      <p>{{paragraphText}}</p>
    </div>
    <div class="desc-item" [ngClass]="{'mindfulness-image': componentType === ComponentType.Mindfulness}">
      <img ngSrc="{{imageSource}}" width="200" height="200" priority>
    </div>
  }
</div>
