<h2>A PIZZÉRIÁRÓL</h2>

<div class="info">
  <div class="info-element">
    <img ngSrc="images/location.jpg" height="200" width="200" />
    <a>Helyszín</a>
    <p>Az ételeket Keszegfalván készítem, házhozszállítás jelenleg nem elérhető.</p>
  </div>
  <div class="info-element">
    <img ngSrc="images/recommendations.jpg" height="200" width="200" />
    <a>Vélemények</a>
    <p>Véleménye fontos számomra, ezért kérem, értékelje a szolgáltatás minőségét.</p>
  </div>
  <div class="info-element">
    <img ngSrc="images/gallery.jpg" height="200" width="200" />
    <a>Galéria</a>
    <p>A képek sajnos nem adják át az ízeket. Jöjjön el és győződjön meg róla személyesen!</p>
  </div>
</div>
