<div class="intro">
  <div class="intro-text">
    <h2>ÖRÜLÖK, HOGY TALÁLKOZUNK!</h2>
    <p>Üdvözöllek a Peter’s Pizza weboldalán!
      Az én nevem Kis Péter, 55 éves vagyok és pék végzettséggel rendelkezem. Az általam készített pizzákat olasz stílusban készítem. Hiszek benne, hogy egy jó étel elfogyasztása élményeket teremt, amiket szeretnék Önnel is megosztani.</p>
  </div>
  <div class="intro-image">
    <img ngSrc="images/peter-schef.png" width="300" height="320" priority/>
  </div>
</div>
